<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="../css/theme.css"
      th:href="@{/css/theme.css}"
    />
    <link
      rel="stylesheet"
      href="../css/forgot-password.css"
      th:href="@{/css/forgot-password.css}"/>

  </head>
  <body>
    <nav
      class="top-nav"
      th:if="${#authorization.expression('isAuthenticated()')}"
    >
      <a class="nav-button" th:href="@{/profile}">Home</a>

      <form th:action="@{/logout}" method="post" class="logout-form nav-right">
        <button type="submit" class="nav-button logout-button">Logout</button>
      </form>
    </nav>

    <div class="main-container">
      <h2 class="welcome-text">Create New Password</h2>
      <div class="login-container">
        <form th:action="@{/change-password}" method="post">
          <div class="input-container">
            <input type="hidden" name="token" th:value="${token}" />
            <input
              type="password"
              name="newPassword"
              placeholder="New Password"
              required
            />
            <input
              type="password"
              name="confirmPassword"
              placeholder="Confirm Password"
              required
            />
          </div>

          <div class="button-container">
            <button type="submit" class="link-button">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
